/* You can add global styles to this file, and also import other style files */
.doctors {
    display: flex;
    flex-direction: row;
    li {
        margin-right: 50px;
    }
}
.badge {
    color: transparent;
}